POSTGRES_USER=revest
POSTGRES_PASSWORD=revest_secret
POSTGRES_PORT=5432

# Product Service
PRODUCT_PORT=3001
PRODUCT_DB_HOST=localhost
PRODUCT_DB_PORT=5432
PRODUCT_DB_USERNAME=revest
PRODUCT_DB_PASSWORD=revest_secret
PRODUCT_DB_NAME=product_db

# Order Service
ORDER_PORT=3003
ORDER_DB_HOST=localhost
ORDER_DB_PORT=5432
ORDER_DB_USERNAME=revest
ORDER_DB_PASSWORD=revest_secret
ORDER_DB_NAME=order_db
PRODUCT_SERVICE_URL=http://localhost:3001
