PORT=3004
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=revest
DB_PASSWORD=revest_secret
DB_NAME=auth_db
DB_SYNCHRONIZE=true
DB_LOGGING=false
JWT_SECRET=revest_jwt_secret_change_in_production
JWT_EXPIRES_IN=24h
